<style data-teleport="head">
  @page :first {
    margin: 2.00cm; // --cover-margin
    padding: 0;

    @top-left { content: none; }
    @top-center { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
  }

  @page {
    @top-center {
      content: '{{page.title}}';
    }
  }
</style>
<div class="front-cover">
  <section>
    <div class="brand"><span>{{ config.site_name }}</span></div>
    <div class="author"><b>Author: </b> <span>{{ config.site_author }}</span></div>
    <div class="description"><b>Description: </b> <span>{{ config.site_description }}</span></div>
    <div class="date"><b>Date: </b> <span>{{ git.date.strftime('%d/%m/%Y') }}</span></div>
    <div class="version"><b>Version: </b> <span>{{ git.tag if git.tag else git.short_commit }}</span></div>
    <div class="title"><span>{{ page.title }}</span></div>
  </section>
</div>
